<form class="register" action="" method="post">
    <legend>NAME</legend>
    <input autocomplete="off" aria-autocomplete="none" class="input" type="text" placeholder="John doe">
    <br><br>
    <legend>TEAM</legend>
    <input class="input" autocomplete="off" aria-autocomplete="none" type="text" placeholder="Highflyers">
    <br><br>
    <legend>STACK</legend>
    <input autocomplete="off" aria-autocomplete="none" class="input" type="text" placeholder="Javascript">
    <br><br>
    <legend>GENDER</legend>
    <input type="radio"id="Male"  value="Male" name="Gender">
    <label for="Male">Male</label>
    <br>
    <input type="radio"id="Female"  value="Male" name="Gender">
    <label for="Female">Female</label>
    <br>
    <button class="submit-btn">Submit</button>
</form>