<div class="table">
     <table>
         <tr>
             <th>NAME</td>
             <th>TEAM</th>
             <th>STACK</th>
             <th>GENDER</th>
             <th>CRUD</th>
         </tr>
         <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td><a class="crud" href="#">edit</a> <a class="crud" href="#">delete</a></td>
         </tr>
         <tr>

         </tr>
        </table>
</div>
         <a href="/form"><button type="button">Register</button></a>